*,
*::after,
*::before   {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    text-align: center;
    background-color: #8e9eab

  
    
}
div {
    margin: 1rem;

}
.links:hover {
    color: #F5F5F5;
    
}
ul {
    display: flex;
    justify-content: center;
    margin: 4rem;
    flex-wrap: wrap

}

.list-container-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.win-class {
    display: block
}

.team-titles {
    display: block;
    font-size: 2rem;
}

.team-list-li {
    margin: 0 2rem;
}

.team-list-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10rem 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

h6 {
    font-size: 1.8rem;
}
li {
    margin: 1rem;
}